<?xml version="1.0" encoding="UTF-8"?>
 
<phpunit colors="true">
    <testsuites>
        <testsuite name="RabeloWines Tests">
            <directory suffix=".php">module/RabeloWines/tests</directory>
        </testsuite>
        <testsuite name="MailingList Tests">
            <directory suffix=".php">module/MailingList/tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">module/RabeloWines/src</directory>
            <directory suffix=".php">module/MailingList/src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="coverage-html" target="coverage"/>
    </logging>
    <php>
        <env name="MAILCHIMP_API_KEY" value="abc123"/>
        <env name="MAILCHIMP_LIST_ID" value="def456"/>
    </php>
</phpunit>